* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
}

body {
    background: linear-gradient(-90deg, dodgerblue, mediumblue);
}

h4 {
    color: purple;
    font-weight: bold;
}

.question {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    justify-content: center;
    text-align: center;
    max-width: 700px;
    background-color: whitesmoke;
    border: 5px solid black;
    border-radius: 10px;
    padding: 5px;
    margin: 5px 0;
}

.question .satisfaction-options {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-weight: bold;
    margin: 10px 0;
}

.question .satisfaction-options .option {
    display: block;
    text-align: center;
}

.question .satisfaction-options .radio-button {
    transform: scale(1.5);
    margin: 0 5px;
}

.question .satisfaction-options img {
    display: flex;
    max-width: 50px;
    max-height: 50px;
    margin: 10px 10px 0 10px;
}

.question .text-input .feedback-input {
    resize: none;
    width: 100%;
    height: max-content;
    min-height: 150px;
    font-size: large;
    padding: 5px;
    margin: 10px 10px 0 10px;
    border: 2px solid black;
}

.question .switch-option {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: x-large;
    font-weight: bold;
    margin: 10px 0;
}

.question .switch {
    position: relative;
    width: 66px;
    height: 36px;
    margin: 0 10px;
}

.question .switch input {
    display: none;
}

.question .switch input:checked + .slider {
    background-color: teal;
}

.question .switch input:checked + .slider:before {
    transform: translateX(30px);
}

.question .switch .slider {
    transform: scaleX(-1);
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: darkgrey;
    transition: .5s;
    border: 1px solid black;
    border-radius: 30px;
}

.question .switch .slider:before {
    position: absolute;
    left: 3px;
    top: 3px;
    height: 30px;
    width: 30px;
    content: "";
    background-color: white;
    transition: .5s;
    border: 1px solid black;
    border-radius: 50%;
}

.action-buttons .btn {
    width: 90px;
    height: 45px;
    font-size: large;
}