* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
}

body {
    background: linear-gradient(-90deg, dodgerblue, mediumblue);
}

h5 {
    color: purple;
    text-decoration: underline;
    font-weight: bold;
}

h6 {
    text-align: start;
    text-decoration: none;
    font-weight: normal;
    color: black;
}

.container-fluid {
    margin: 0;
    display: flex;
}

.content {
    flex-direction: column;
    justify-content: center;
}

.container {
    justify-content: center;
    max-width: 800px;
    margin: 0;
    padding: 0;
}

.card, .post {
    background-color: whitesmoke;
    padding: 3px;
    margin: 3px 0;
}

.card {
    justify-content: center;
    text-align: center;
    border: 5px solid black;
    border-radius: 10px;
    padding: 5px;
}

.post {
    display: flex;
    flex-direction: column;
    text-align: start;
    border: 2px solid black;
    padding: 0;
    margin: 10px 0 0 0;
    background-color: lightgrey;
}

.post .header {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: start;
    padding: 5px 5px 0;
}

.post .header .user-info .user-name {
    font-weight: bold;
    color: darkblue;
}

.post .header .user-info .user-email {
    font-weight: bold;
    color: darkred;
}

.post .header .user-info h6 {
    text-align: start;
    flex-wrap: wrap;
}

.post .header img {
    width: 50px;
    height: 50px;
    border: 1px solid black;
}

.post .divider {
    padding: 0;
    margin: 0;
    border: 1px solid black;
}

.post .body {
    padding: 5px 5px 0;
}

.card .satisfaction-options {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    font-weight: bold;
}

.card .satisfaction-options .radio-group, .card .satisfaction-options .icons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
}

.card .satisfaction-options img {
    display: flex;
    max-width: 50px;
    max-height: 50px;
    margin: 0 10px 10px 10px;
}

.card .text-input {
    resize: none;
    min-height: 100px;
    font-size: large;
    padding: 5px;
    border: 2px solid black;
}

.card .switch-option {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
    font-weight: bold;
    margin: 10px 0;
}

.card .switch {
    position: relative;
    width: 60px;
    height: 30px;
    margin: 0 10px;
}

.card .switch input {
    display: none;
}

.card .switch input:checked + .slider {
    background-color: teal;
}

.card .switch input:checked + .slider:before {
    transform: translateX(30px);
}

.card .switch .slider {
    transform: scaleX(-1);
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: darkgrey;
    transition: 0.5s;
    border: 1px solid black;
    border-radius: 30px;
}

.card .switch .slider:before {
    position: absolute;
    left: 2px;
    top: 2px;
    height: 24px;
    width: 24px;
    content: "";
    background-color: white;
    transition: 0.5s;
    border: 1px solid black;
    border-radius: 50%;
}

.action-buttons {
    flex-wrap: wrap;
    justify-content: space-between;
}

.action-buttons .btn {
    width: 80px;
    height: 40px;
    font-size: large;
    padding: 5px;
    margin: 10px 0;
}

.action-buttons .btn-log {
    width: 110px;
    font-weight: bold;
    font-size: large;
}

.action-buttons .hidden {
    display: none;
}
