* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
}

body {
    background: linear-gradient(-90deg, dodgerblue, mediumblue);
}

a {
    text-decoration: none;
    color: white;
}

h1 {
    color: purple;
}

h4 {
    text-decoration: underline;
    color: red;
}

h5 {
    color: black;
    margin: 22px 0;
}

h1, h2, h4, h5 {
    font-weight: bold;
}

.pizzas-container {
    position: absolute;
    left: 50%;
    text-align: center;
    justify-content: center;
    min-width: 400px;
    max-width: 800px;
    margin: 0;
    padding: 0;
    transform: translate(-50%);

}

.pizzas-container .card {
    flex-direction: row;
    justify-content: center;
    width: 100%;
    max-width: 700px;
    height: fit-content;
    background-color: lightgrey;
    padding: 5px 10px;
    margin: 5px;
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
}

.pizzas-container .card img {
    max-width: 175px;
    max-height: 140px;
    margin-right: 10px;
}

.pizzas-container .card .content {
    text-align: end;
    align-content: end;
    width: 100%;
    height: 100%;
}

.pizzas-container .card .content .action-buttons {
    justify-content: flex-end;
}

.pizzas-container .card .content .action-buttons .btn {
    width: 60px;
    height: 40px;
}

.pizzas-container .card .content .action-buttons .amount {
    width: 60px;
    height: 40px;
    background-color: whitesmoke;
    font-weight: bold;
    font-size: large;
}

.pizzas-container .operation {
    padding: 0;
    margin: 20px 0;
}

.pizzas-container .operation .action-buttons .btn-dark {
    width: 110px;
    height: 55px;
    font-size: x-large;
}

.pizzas-container .card .check {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.pizzas-container .card .check .check-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.pizzas-container .card .check .check-row .check-text {
    font-weight: bold;
    color: black;
}

.pizzas-container .card .check .check-row .check-value {
    font-weight: bold;
    color: purple;
}
