* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
    color: black;
}

body {
    background-image: url("../images/backgrounds/blue-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pizzas-container .add-button:hover {
    background-color: orangered;
}

.pizzas-container .card {
    background-color: lightgrey;
    padding: 10px;
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;
}

.pizzas-container .card:hover {
    transform: scale(1.05);
    background-color: #d0a0f0;
}
