* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
}

body {
    background: linear-gradient(-90deg, dodgerblue, mediumblue);
}

a {
    text-decoration: none;
    color: white;
}

h5 {
    text-decoration: underline;
    font-weight: bold;
    color: red;
}

h6 {
    font-weight: bold;
    color: black;
}

.container-fluid {
    width: 100%;
    height: 100%;
    padding: 0;
    margin-top: 0;
}

.navbar {
    padding: 10px;
}

.carousel-container {
    width: 100%;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-container .carousel {
    text-align: center;
    width: 100%;
    padding: 10px 0;
    background-color: #111;
}

.carousel-container .carousel .carousel-inner .carousel-item img {
    width: 18%;
    max-width: 220px;
    aspect-ratio: 4/3;
    margin: 5px;
}

.form {
    margin: 15px 0;
}

.form .search {
    display: flex;
    flex-direction: row;
    padding: 10px;
    background-color: #111;
}

.form .search .search-field {
    width: 100%;
    padding: 5px;
    margin-right: 20px;
    background-color: whitesmoke;
    outline: none;
    border-radius: 5px;
}

.form .search .search-field::placeholder {
    color: black;
}

.form .search .btn {
    padding: 5px;
    font-size: large;
    font-weight: bold;
}

.pizzas-container {
    margin: 0;
    padding: 0;
    width: 100%;
    min-width: 100%;
}

.pizzas-container .add-button:hover {
    background-color: orangered;
}

.pizzas-container .card {
    width: 200px;
    min-height: 250px;
    height: fit-content;
    justify-content: center;
    background-color: lightgrey;
    padding: 5px;
    margin: 5px;
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
}

.pizzas-container .card img {
    width: 100%;
    aspect-ratio: 4/3;
    padding-bottom: 5px;
    cursor: pointer;
}

.pizzas-container .add-card img {
    width: 50%;
    aspect-ratio: 1;
}

.pizzas-container .card:hover {
    transform: scale(1.05);
    background-color: #d0a0f0;
}

.pizzas-container .card .action-buttons {
    display: block;
}

.overlay {
    z-index: 3;
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0, .8);
}

.modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 400px;
    height: fit-content;
    max-height: 80%;
    background: linear-gradient(-45deg, lightgrey, mediumpurple);
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: -10px -10px 10px whitesmoke;
}

.modal h1 {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    font-size: xxx-large;
    cursor: pointer;
}

.modal h2 {
    font-size: xx-large;
    font-weight: bolder;
    text-decoration: underline;
    color: #c00;
}

.modal img {
    width: 100%;
    aspect-ratio: 3/2;
    margin: 10px 0;
}

.modal h3 {
    text-align: start;
    font-size: large;
    font-weight: bold;
}

@keyframes next1 {
    from {
        left: 0;
    }
    to {
        left: -100%;
    }
}

@keyframes next2 {
    from {
        left: 100%;
    }
    to {
        left: 0;
    }
}

@keyframes prev1 {
    from {
        left: 0;
    }
    to {
        left: 100%;
    }
}

@keyframes prev2 {
    from {
        left: -100%;
    }
    to {
        left: 0;
    }
}
