* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
}

body {
    background: linear-gradient(-90deg, dodgerblue, mediumblue);
}

.navbar-container {
    z-index: 2;
    position: absolute;
    top: 0;
}

.title, .message, h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

.title {
    color: purple;
    text-decoration: underline;
}

.message, .search-field {
    margin: 10px 0;
}

.message {
    color: darkred;
}

.form {
    z-index: 2;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%);
    width: 70%;
    max-width: 600px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    letter-spacing: 1px;
    border: 3px solid black;
    border-radius: 20px;
    background-color: lightgrey;
}

.form label, label .search-field {
    width: 90%;
}

.form input, .form textarea {
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid black;
    border-radius: 10px;
    background-color: whitesmoke;
    margin: 5px 0;
}

.form textarea {
    resize: none;
    height: auto;
}

textarea::-webkit-scrollbar {
    width: 16px;
}

textarea::-webkit-scrollbar-thumb {
    background-color: dimgrey;
    border-radius: 10px;
}

.action-buttons {
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: space-between;
}

.btn-submit, .action-buttons .btn, .action-buttons .btn-submit {
    text-align: center;
    justify-content: center;
    padding: 5px;
    margin: 10px;
    font-weight: bold;
    text-transform: uppercase;
    border: 3px solid black;
    border-radius: 10px;
    color: whitesmoke;
    background-color: black;
}

.btn-submit, .action-buttons .btn {
    font-size: large;
}

.btn-submit, .action-buttons .btn-submit {
    width: 95px;
    height: 45px;
}

.action-buttons .btn a {
    text-decoration: none;
    color: white;
}

.btn-submit:is(:hover, :active),
.action-buttons .btn:is(:hover, :active) {
    transform: scale(1.05);
}

.search-field {
    padding: 5px;
    margin-right: 10px;
    background-color: whitesmoke;
    outline: none;
    border-radius: 5px;
    width: fit-content;
}
