* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
}

body {
    background: linear-gradient(-90deg, dodgerblue, mediumblue);
}

.container-fluid {
    justify-content: center;
}

h2 {
    text-decoration: underline;
}

h2, h5 {
    font-weight: bold;
}

.card {
    justify-self: center;
    align-items: center;
    text-align: center;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
}

.form {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    width: 100%;
}

.table tr, .table th, .table td {
    min-width: fit-content;
    min-height: fit-content;
    border: 1px solid black;
    text-align: center;
    font-weight: bold;
    font-size: large;
}

.table th {
    background-color: purple;
    color: whitesmoke;
}

.table .btn {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-size: large;
    font-weight: bold;
    border: 2px solid black;
}

.btn a {
    color: white;
    text-decoration: none;
}

.table td:hover {
    background-color: #d0a0f0;
}

.card-header {
    background-color: purple;
}

.card-header h2 {
    text-align: center;
    font-weight: bold;
    color: white;
}

.columns td {
    font-weight: bold;
    background-color: mediumpurple;
}

.content td:last-child {
    max-width: 180px;
    width: fit-content;
    overflow-x: hidden;
}
