* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
    color: black;
}

body {
    background-image: url("../images/backgrounds/blue-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

a {
    text-decoration: none;
    color: white;
}

h4 {
    text-decoration: underline;
    font-weight: bold;
    color: red;
}

h6 {
    font-weight: bold;
    color: black;
}

.carousel-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-container .carousel {
    width: 100%;
    padding: 10px 0;
    background-color: #111;
    text-align: center;
}

.pizzas-container .add-button:hover {
    background-color: orangered;
}

.pizzas-container .card {
    width: 225px;
    height: fit-content;
    justify-content: center;
    background-color: lightgrey;
    padding: 10px;
    margin: 10px;
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;
}

.pizzas-container .card:hover {
    transform: scale(1.05);
    background-color: #d0a0f0;
}

@keyframes next1 {
    from {
        left: 0;
    }
    to {
        left: -100%;
    }
}

@keyframes next2 {
    from {
        left: 100%;
    }
    to {
        left: 0;
    }
}

@keyframes prev1 {
    from {
        left: 0;
    }
    to {
        left: 100%;
    }
}

@keyframes prev2 {
    from {
        left: -100%;
    }
    to {
        left: 0;
    }
}
